@media (max-width: 1440px){
 /*coloca o css de como vai ficar a partir desse tamanho*/
 header{
  background-color: rgb(0, 0, 0);
 
 }

}
@media (max-width: 1024px){
 header{
  background-color: rgb(43, 43, 43);
 
 }

}
@media (max-width: 768px){
 header{
  background-color: rgb(68, 68, 68);
 
 }
}
@media (max-width: 420px){
 header{
  text-align: center;
  max-width: 100%;
  max-height: 50%;
 
 
   /*cabeçalho*/
 }
 h1{
  min-height: 100vh;
  font-size: 40pt;
  margin-left: 0%;
  margin-top: 50%;
 
  
 }
 h3{
  margin-top: 50%;
  min-height: 100vh;
 
 }
 
 /*conteudo*/
 
 .login_senha{
  text-align: center;
  background-color: rgba(31, 13, 13, 0.248);
  color: white;
  margin: 0%;
  justify-items: center;
  min-height: 96vh;
  padding-top: 150px;
  text-align: center;
 }
 
 .entrar{
  margin: 20px;
  color: white;
  border-color: rgb(37, 34, 51);
  background-color: rgba(0, 0, 0, 0.309);
  text-align: center;
 }
 
 .entrar:hover{
  text-align: center;
  background-color: green;
 }
 /*roda pé*/
 footer{
  text-align: center;
 }
 
  
 
 

}
@media (max-width: 360px){
 header{
  text-align: center;
  max-width: 100%;
  max-height: 50%;
 
 
   /*cabeçalho*/
 }
 h1{
  min-height: 100vh;
  font-size: 30pt;
  margin-left: 0%;
  margin-top: 50%;
 
  
 }
 h3{
  margin-top: 50%;
  min-height: 100vh;
 
 }
 
 /*conteudo*/
 
 .login_senha{
  text-align: center;
  background-color: rgba(31, 13, 13, 0.248);
  color: white;
  margin: 0%;
  justify-items: center;
  min-height: 96vh;
  padding-top: 150px;
  text-align: center;
 }
 
 .entrar{
  margin: 20px;
  color: white;
  border-color: rgb(37, 34, 51);
  background-color: rgba(0, 0, 0, 0.309);
  text-align: center;
 }
 
 .entrar:hover{
  text-align: center;
  background-color: green;
 }
 /*roda pé*/
 footer{
  text-align: center;
 }
 
  
 
 
}
@media (max-width: 330px){
header{
 text-align: center;
 max-width: 100%;
 max-height: 50%;


  /*cabeçalho*/
}
h1{
 min-height: 100vh;
 font-size: 25pt;
 margin-left: 0%;
 margin-top: 50%;

 
}
h3{
 margin-top: 50%;
 min-height: 100vh;

}

/*conteudo*/

.login_senha{
 text-align: center;
 background-color: rgba(31, 13, 13, 0.248);
 color: white;
 margin: 0%;
 justify-items: center;
 min-height: 96vh;
 padding-top: 150px;
 text-align: center;
}

.entrar{
 margin: 20px;
 color: white;
 border-color: rgb(37, 34, 51);
 background-color: rgba(0, 0, 0, 0.309);
 text-align: center;
}

.entrar:hover{
 text-align: center;
 background-color: green;
}
/*roda pé*/
footer{
 text-align: center;
}

 

}
